	
	.widget-ava{
  		background: url(img/widjet-user-ava.svg) no-repeat;
  		width: 120px;
  		height: 150px;
  		margin-bottom: 11px;
  		margin-top: 15px;
	}

    .wigr-city-search{
      position:relative;
      display: inline-block;
      width: 280px;
      height: 147px;
      margin-top: 5px;
      margin-left: 70px;
      border: 1px solid #58676c;
      filter: drop-shadow(0px 0px 4px rgb(141, 143, 144)); 

      background-color: transparent;
      background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
      background-size:50px 50px;
      z-index: 1;
    }

    .widjet-sub-title-vertical{
      position: absolute;
      /*background-color: #546b6d;*/
      font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
      text-shadow: 0px 1px 1px black, 0em 0em 0em darkseagreen;
      /*letter-spacing: .1em;*/
      color: #adb2b4;
      font-size: 14px;
      top: 45px;
      right: -32px;
      background: rgba(187, 123, 51, 0.4);
      display: inline-block;
      transform: rotate(90deg);
    }

    .widjet-sub-title-vertical::before, .widjet-sub-title-vertical:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .widjet-sub-title-vertical::before {
      right: 100%;
      border-right: 21px solid rgba(187, 123, 51, 0.4);
      border-top: 21px solid transparent;
    }

    .widjet-sub-title-vertical::after {
      left: 100%;
      border-left: 21px solid rgba(187, 123, 51, 0.4);
      border-top: 21px solid transparent;
    }

    .widjet-sub-title-horizontal{
      position: absolute;
      /*background-color: #546b6d;*/
      font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
      text-shadow: 0px 1px 1px black, 0em 0em 0em darkseagreen;
      /*letter-spacing: .1em;*/
      color: #adb2b4;
      font-size: 14px;
      top: -21px;
      left: -9px;
      background: rgba(187, 123, 51, 0.4);
      display: inline-block;
      transform: rotate(0deg);
    }

    .widjet-sub-title-horizontal::before, .widjet-sub-title-horizontal:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .widjet-sub-title-horizontal::before {
      right: 100%;
      border-right: 21px solid rgba(187, 123, 51, 0.4);
      border-top: 21px solid transparent;
    }

    .widjet-sub-title-horizontal::after {
      left: 100%;
      border-left: 21px solid rgba(187, 123, 51, 0.4);
      border-top: 21px solid transparent;
    }

    .wigr-city-search .pda-world-map{
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      cursor: pointer;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    
    .map-marker-contaner{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .map-marker-contaner .pda-map-marker{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      z-index: 100;
    }

    .wigr-ava-control{
      position: absolute;
      display: flex;
      flex-direction: column;
      margin-top: 21px;
      margin-left: 5px;
      width: 68px;
      height: 100%;
    }

    .wi-ava-co-bar{
      width: 58px;
      height: 10px;
      border: 1px solid #58676c;
      margin-bottom: 1px;
      filter: drop-shadow(0px 0px 4px rgb(141, 143, 144)); 
    }

    .wi-ava-co-bar .co-bar{
      height: 100%;
      width: 50%;
      background: linear-gradient(to right, transparent, #8ccbe0);
      filter: drop-shadow(0px 0px 4px rgb(141, 143, 144)); 
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
    }
  
    .wt-ip{
      font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
      letter-spacing: .1em;
      font-size: 4vw;
    }
    
    .wt-ip-frame{
      position: absolute;
      top: 0%;
      min-width: 105px;
      max-width: 105px;
      height: 20px;
      margin-left: -7px;
      border: 1px solid #3f4545;
      background-color: rgba(74, 104, 101, 0.4);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
      overflow: hidden;
    }


    .wigr-status-bar{
      position: relative;
      min-height: 26px;
      background: #8ccbe0;
      display: inline-block;
      margin-right: 15px;
      filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
      z-index: 1000;
      margin-top: 10px;
      width: 0%;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
    }
    
    .wigr-status-bar::before, .wigr-status-bar:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .wigr-status-bar::before {
      right: 100%;
      border-right: 19px solid #8ccbe0;
      border-bottom: 19px solid transparent;
    }

    .wigr-status-bar::after {
      left: 100%;
      border-left: 19px solid #8ccbe0;
      border-top: 19px solid transparent;
    }

    .wigr-status-title{
      position: absolute;
      /*background-color: #546b6d;*/
      font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
      text-shadow: 0px 1px 1px black, 0em 0em 0em darkseagreen;
      /*letter-spacing: .1em;*/
      color: #adb2b4;
      font-size: 14px;
      top: -22px;
      left: 95px;
      background: rgba(187, 123, 51, 0.4);
      display: inline-block;
    }

    .wigr-status-title::before, .wigr-status-title:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .wigr-status-title::before {
      right: 100%;
      border-right: 26px solid rgba(187, 123, 51, 0.4);
      border-bottom: 21px solid transparent;
    }

    .wigr-status-title::after {
      left: 100%;
      border-left: 26px solid rgba(187, 123, 51, 0.4);
      border-top: 21px solid transparent;
    }

        .widget-table{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      min-height: 63px;
      min-width: 140px;
    }

    .wigr-hor{
      position: relative;
      align-self: stretch;
      flex-grow: 1;
      background-size: cover;
      background-position: center;
    }

    .wigr-ver{
      position: relative;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-position: center;
    }

    .wigr-ava{
      position:relative;
      width: 115px;
      height: 115px;
      margin-top: 18px;
      overflow: hidden;
      border: 1px solid #58676c;
      filter: drop-shadow(0px 0px 4px rgb(141, 143, 144)); 

      animation: pulse 5s linear infinite;
    }

    @keyframes pulse {
      0%   {transform: scale(1.001);  /*opacity: .30; */}
      8%   {transform: scale(1.000);  /*opacity: .35; */}
      15%  {transform: scale(1.004);  /*opacity: .30; */}
      30%  {transform: scale(1.002);  /*opacity: .35;*/ }
      100% {transform: scale(1.000);  /*opacity: .30;*/ }
    }

    .wigr-ava img{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 115px;
      height: 115px;
      padding: 0px;
    }

    .scanlines {
      z-index: 4100;
    }
    .hide {
      display: none;
    }
    .scanlines:before {
      content : '';
      position : absolute;
      top : 0px;
      left: 0px;
      width : 100%;
      height : 12px;
      background : #fff;
      background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
      opacity : .1;
      animation: vline 6.25s cubic-bezier(.23,1,.32,1) infinite;
    }
    @keyframes vline {
      0%   { top: 0px;}
      100% { top: 100%;}
    }

    .widjet-top-region,.widjet-bottom-region{
      display: flex;
      width: 100%;
      height: 73px;
    }

    .wiwr-inner{
      position: relative;
      align-self: stretch;
      flex-grow: 1;
      background-size: cover;
      background-position: center;
    }
    .wiwr-inner:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    ._wt-bg-0{background: url(img/pda_wnd_top_lf.svg) 0, 0, no-repeat;}
    ._wt-bg-1{background: url(img/pda_wnd_top_ct.svg) 122px, 0px, repeat-x;}
    ._wt-bg-2{background: url(img/pda_wnd_top_rh.svg) 100%, 0px, no-repeat;}

    ._wt-bg-3{background: url(img/pda_wnd_bottom_lf.svg) 0, 0, no-repeat;}
    ._wt-bg-4{background: url(img/pda_wnd_bottom_ct.svg) 122px, 0px, repeat-x;}
    ._wt-bg-5{background: url(img/pda_wnd_bottom_rh.svg) 100%, 0px, no-repeat;}

    .not-found-usr{
      position: absolute;
      left: 34%;
      top: 39%;
      z-index: 1000;
      border: 1px solid olivedrab;
      filter: drop-shadow(0px 0px 4px rgb(141, 143, 144)); 
      background: rgba(255,0,0,0.6);
      opacity: 0;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;  
    }
    .not-found-usr span{
      font-size: 30px;
      color: olivedrab;
    }