  #nb-pda-velum{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .nb-velum-top{
    position: absolute;
    width: 100%;
    height: 43%;  
    top: 0;
    background: linear-gradient(to bottom, #000, rgba(0,0,0,0));
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .nb-velum-base-top{
    width: 100%;
    height: calc(100% - 120px);
    background: url(/img/pda/pda/velum-top-fr.svg) repeat;
  }
  .nb-velum-base-bottom{
     width: 100%;
    height: calc(100% - 120px);
    background: url(/img/pda/pda/velum-top-fr.svg) repeat;
  }
  .nb-velum-bord{
    display: flex;
    width: 100%;
    height: 120px;
    min-width: 1064px;
  }

  .vt-wrapper-inner {
    position: relative;
    align-self: stretch;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
  }

  .vt-wrapper-inner:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .vt-wrapper-inner._bg-0 {
    background: url(/img/pda/pda/velum-top-left.svg) repeat-x;
  }

  .vt-wrapper-inner._bg-1 {
    background: url(/img/pda/pda/velum-top-center.svg) no-repeat;
    max-width: 378.333px;
  }

  .vt-wrapper-inner._bg-2 {
    background: url(/img/pda/pda/velum-top-right.svg) repeat-x;
  }

  .vt-wrapper-inner._bg-3 {
    background: url(/img/pda/pda/velum-bottom-left.svg) repeat-x;
  }

  .vt-wrapper-inner._bg-4 {
    background: url(/img/pda/pda/velum-bottom-center.svg) no-repeat;
    max-width: 378.333px;
  }

  .vt-wrapper-inner._bg-5 {
    background: url(/img/pda/pda/velum-bottom-right.svg) repeat-x;
  }

  .nb-velum-bottom{
    position: absolute;
    width: 100%;
    height: 43%;  
    background: linear-gradient(to top, #000, rgba(0,0,0,0));
    bottom: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .nb-velum-center{
    position: absolute;
    width: 100%;
    height: 90px;  
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(/img/pda/pda/velum-center-center.svg) repeat-x;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .nb-velum-center span{
    font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
    font-size: 65px;
    line-height: 1.41;
    font-weight: bold;
    color: #bfc2c3;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    letter-spacing: 3px;
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .vt-w-br0{
    width: 600px;
    height: 35px;
    margin-left: -251px;
    margin-top: 86px;
    background: url(/img/pda/pda/velum-top-h0.svg);
  }

  .vt-w-userid{
	box-sizing: border-box;
  	display: inline-block;
  	padding: 0 1em 1em;
  	text-transform: uppercase;
  }

  .vt-w-userid span {display: inline-block;}

  .vt-w-userid{
  	position: absolute;
	  margin-left: 80px;
	  margin-top: -75px;
	  width: 550px;
	  opacity: 0;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .uid_title{
    font-family: "Exo 2","Ubuntu Condensed",Arial,sans-serif;
  	/*font: normal 100 22px/1.2em "Ubuntu Condensed", Arial, sans-serif;*/
  	letter-spacing: .06em;
  	color: #fff;
    font-size: 20px;
    z-index: 1000px;
  }

  .uid_uacid{
    font-family: "Exo 2","Ubuntu Condensed",Arial,sans-serif;
	/*font: normal 100 22px/1.2em "Ubuntu Condensed", Arial, sans-serif;*/
  	letter-spacing: .06em;
  	color: #bfc2c3;
    font-size: 20px;
  }

  .nb-velum-center span{
    cursor: pointer;
    z-index: 1000;
  }

  /*Bottom panels*/
.pda-velum-panel-left{
  position: absolute;
  background: #292b2c;
  display: inline-block;
  top: 13px;
  height: 106px;
  opacity: 1;
  filter: drop-shadow(0px 0px 1px rgb(99,99,99));
  left: 11px;
}

.pda-velum-panel-right{
  position: absolute;
  background: #292b2c;
  display: inline-block;
  top: 32px;
  height: 87px;
  width: 50%;
  opacity: 1;
  filter: drop-shadow(0px 0px 1px rgb(99,99,99));
  right: 183px;
  z-index: 1;
}

.pvp-background{
  position: absolute;
  background: url(../../img/pda/pda/gridbg_glow.png), #292b2c repeat;
  top: calc(-100vh + 106px);
  width: 100vw;
  height: 100vh;
}

.pvp-background-nor{
  position: absolute;
  background: url(../../img/pda/pda/gridbg_glow.png), #292b2c repeat;
  top: calc(-100vh + 88px);
  width: 100vw;
  height: 100vh;
}

.pvpl-container{
  position: absolute;
  border-radius: 33px;
  width: calc(100% + 17px);
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}

.pvpl-container-nor{
  position: absolute;
  width: calc(100% + 17px);
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}

.pda-velum-panel-left span{
  position: relative;
  color: #52635d;
  text-shadow: 0px 1px 2px black, 0em 0em 0em darkseagreen;
  text-transform: uppercase;
  letter-spacing: .06em;
  font-size: 22px;
  margin-left: 6px;
  z-index: 1000;
}
.pda-velum-panel-left p{
  position: relative;
  color: #9eddde;
  text-shadow: 0px 1px 2px black, 0em 0em 0em darkseagreen;
  letter-spacing: .04em;
  font-size: 18px;
  margin-left: 6px;
  z-index: 1000;
}
  
.pda-velum-panel-left::before, .pda-velum-panel-left:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.pda-velum-panel-left::after {
  left: 100%;
  border-left: 17px solid #292b2c;
  border-top: 19px solid transparent;
}

  /*Buttons*/
.btn_control_case{
  position: absolute;
  top: 40;
  width: 100%;
  z-index: 1000;
}

.nb-velum-bottom ul li{
  display:inline-block;
  float: right;
  width:20%;
  margin:0;
  padding:0;
}

/*Нижнее меню*/

.pda_hmenu_coteiner{
  position: absolute;
  left: 3px;
  width: 100%;
  height: 100%;
  max-height: 87px;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: hidden;
  z-index: 1000;
}
.pda_hmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.pda_hm_btn{
    position:relative;
    flex: 50px;
    top: 15%;
    background: rgba(37,51,64,0.4);
    display: inline-block;
    padding-bottom: 15px;
    width: 50px;
    height: 65px;
    opacity: 1;
    margin: 0 20px 20px 22px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 1px rgba(65, 89, 99, 1));
/*  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;  */
}
.pda_hm_btn:hover{
  filter: drop-shadow(0px 0px 1px rgb(106, 185, 218));
  cursor: pointer;
}

.pda_hm_btn::before, .pda_hm_btn:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.pda_hm_btn::before {
    right: 100%;
    border-right: 15px solid rgba(37,51,64,0.4);
    border-bottom: 15px solid transparent;
}

.pda_hm_btn::after {
    left: 100%;
    border-left: 15px solid rgba(37,51,64,0.4);
    border-top: 15px solid transparent;
}

/**/

.pda_btn_exit{
    position:relative;
    top: 15%;
    background: rgba(37,51,64,0.4);
    display: inline-block;
    padding-bottom: 15px;
    width: 50px;
    height: 50px;
    opacity: 1;
    margin: 0 20px 0 22px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 0px 1px rgba(65, 89, 99, 1));
/*  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;  */
}
.pda_btn_exit:hover{
  filter: drop-shadow(0px 0px 1px rgb(106, 185, 218));
  cursor: pointer;
}

.pda_btn_exit::before, .pda_btn_exit:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.pda_btn_exit::before {
    right: 100%;
    border-right: 15px solid rgba(37,51,64,0.4);
    border-bottom: 15px solid transparent;
}

.pda_btn_exit::after {
    left: 100%;
    border-left: 15px solid rgba(37,51,64,0.4);
    border-top: 15px solid transparent;
}

/**/

.hmbt-dis{
    position:absolute;
    top: 80%;
    right: -12px;
    background: rgba(106, 185, 218, 0.77);
    display: inline-block;
    padding-bottom: 15px;
    width: auto;
    height: 18px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    filter: drop-shadow(-4px -4px 1px rgb(27, 27, 27));
    z-index: 1;
}
.hmbt-dis:hover{
  /*filter: drop-shadow(0px 0px 1px rgb(106, 185, 218));*/
  cursor: pointer;
}

.hmbt-dis::before, .hmbt-dis:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.hmbt-dis::before {
    right: 100%;
    border-right: 6px solid rgba(106, 185, 218, 0.77);
    border-bottom: 6px solid transparent;
}

.hmbt-dis::after {
    left: 100%;
    border-left: 6px solid rgba(106, 185, 218, 0.77);
    border-top: 6px solid transparent;
}

.hmbt-dis span{
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0px 1px 2px black, 0em 0em 0em darkseagreen;
  letter-spacing: .1em;
  color: #9eddde;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

/**/