.widjet{
  position:absolute;
  top: 15%;
  margin-left: 30%;
  background: rgba(37,51,64,0.4);
  display: inline-block;
  padding-bottom: 15px;
  width: auto;
  height: auto;
  opacity: 0;
  filter: drop-shadow(0px 0px 1px rgba(65, 89, 99, 1));
   -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;  
}

.widjet::before, .widjet:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.widjet::before {
  right: 100%;
  border-right: 30px solid rgba(37,51,64,0.4);
  border-bottom: 30px solid transparent;
}

.widjet::after {
  left: 100%;
  border-left: 30px solid rgba(37,51,64,0.4);
  border-top: 30px solid transparent;
}

.widjet-sub-panel{
  position:relative;
  opacity: 1;
  margin-left: 3%;
  margin-top: 40px;
  min-height: 45px;
  background: rgba(37,51,64,0.4);
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 15px;
  filter: drop-shadow(0px 0px 0px rgba(65, 89, 99, 1));
  z-index: 1000;
}

.widjet-sub-panel::before, .widjet-sub-panel:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.widjet-sub-panel::before {
  right: 100%;
  border-right: 30px solid rgba(37,51,64,0.4);
  border-bottom: 30px solid transparent;
}

.widjet-sub-panel::after {
  left: 100%;
  border-left: 30px solid rgba(37,51,64,0.4);
  border-top: 30px solid transparent;
}

.widget-title{
  /*background:url(https://robertsspaceindustries.com/rsi/static/images/expandbtn-bg.png) repeat-x;*/
  font-size:1.6rem;
  padding:0.8rem 2rem;
  margin:0 -2rem 1rem;
}

.widjet-title{
  position: absolute;
  /*background-color: #546b6d;*/
  font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
  text-shadow: 0px 1px 1px black, 0em 0em 0em darkseagreen;
  /*letter-spacing: .1em;*/
  color: #adb2b4;
  font-size: 16px;
  top: -25px;
  background: rgba(91, 107, 113, 0.4);
  display: inline-block;
}

.widjet-title::before, .widjet-title:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.widjet-title::before {
  right: 100%;
  border-right: 30px solid rgba(91, 107, 113, 0.4);
  border-top: 24px solid transparent;
}

.widjet-title::after {
  left: 100%;
  border-left: 30px solid rgba(91, 107, 113, 0.4);
  border-top: 24px solid transparent;
}

.widjet ul{
  list-style:none;
  padding:0;
  margin:0;
}

.widjet li{
  margin-bottom:0.4rem;
  z-index: 1;
 /* display:block;*/
  /*width:100%;*/
}

.nb-pda-widjets-space{
  position: absolute;
  width: 100%;
  height: 68%; 
  top: 16%; 
  opacity: 0;

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;    
}

.widjet-sub-panel input{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
}

.widjet-sub-panel input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 3px 0;
  border-radius: 10px;
  background: #2d3f4a;
  border: #596966 solid 1px;
  transition: box-shadow 0.5s ease-out, background 0.3s, color 0.3s;
}
.widjet-sub-panel input[type="checkbox"]:hover {
  box-shadow: 0 0 5px #596966, 0 0 5px #596966 inset;
}
.widjet-sub-panel input[type="checkbox"]:active {
  background: #374f5e;
}
.widjet-sub-panel input[type="checkbox"]:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #a7adae;
  transition: left 0.4s ease-out;
}
.widjet-sub-panel input[type="checkbox"]:checked:after {
  left: 22px;
}


/*----------------------------------------------------------------------*/
/*-----------------------------КНОПКИ-----------------------------------*/
/*----------------------------------------------------------------------*/
.skew-wrapper {
  height: 40px;
  display: inline-block;
  transform: skew(-30deg);
  overflow: hidden;
  border-radius: 5px;
}

.noskew-wrapper {
  height: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}

.orange-filled {
  background-color: #ee6900;
  color: #191919;
  transition: all 150ms ease-in-out;
}

.orange-outline {
  box-sizing: border-box;
  /*border: 2px solid rgb(67, 86, 94);*/
  color: #adb2b4;
  background: rgba(91, 107, 113, 0.4);
  transition: all 150ms ease-in-out;
}

.skew-wrapper,
.skew-wrapper:focus,
.skew-wrapper:active,
.skew-wrapper:visited {
  outline: none;
}
.noskew-wrapper,
.noskew-wrapper:focus,
.noskew-wrapper:active,
.noskew-wrapper:visited {
  outline: none;
}

.orange-outline:hover {
  background-color: rgb(67, 103, 126);
}

.orange-filled:hover {
  background-color: #ff7a00;
}

.orange-filled:active {
  background-color: #dd5700;
}

.orange-outline div:hover {
  color: #fff;
}

.orange-outline:active {
  background-color: #dd5700;
}

.unskew {
  font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
  text-shadow: 0px 1px 1px black, 0em 0em 0em darkseagreen;
  letter-spacing: .1em;
  color: #adb2b4;
  font-size: 16px;
  transform: skew(30deg);
  line-height: 40px;
}

.orange-normal{
  font-family: 'Exo 2',"Ubuntu Condensed", sans-serif;
  text-shadow: 0px 1px 1px black, 0em 0em 0em darkseagreen;
  letter-spacing: 0.0em;
  color: #adb2b4;
  font-size: 28px;
  line-height: 40px;
}

.skew-wrapper div {
  text-align: center;
  font-style: normal;
  list-style: none;
}

.noskew-wrapper div {
  margin-top: 23px;
  text-align: center;
  font-style: normal;
  list-style: none;
}

.widjet-btn{
  margin-top: 15px;
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px rgb(63, 78, 79));
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.widjet-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 9px;
  width: 100%;
}
.widjet-btn-center{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.widjet-btn-right{
  position: absolute;
  top: 0;
  right: 0;
}

.sitial-autorize-btn-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: -15px;
  margin-left: 15px;
}

.male-salect{
  position: relative;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ms-man{
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background-image: url(../../img/pda/pda/pda_man.svg);
  filter: drop-shadow(0px 0px 4px rgb(141, 143, 144));
}
.ms-woman{
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background-image: url(../../img/pda/pda/pda_woman.svg);
  filter: drop-shadow(0px 0px 4px rgb(141, 143, 144));
}
